.sidebar-link {
  display: block;
  margin-left: 1rem;
  color: #363636;
  text-decoration: none;
  padding: 0.25rem 0;
  transition: color 0.2s ease;
}

.sidebar-link:hover {
  text-decoration: underline;
  color: #3273dc;
}

.sidebar-link.active {
  text-decoration: underline;
  font-weight: bold;
  color: #3273dc;
}
